@model AboutArea
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h3 class="mt-3">Detail</h3>
    <div class="row mt-5">
        <img src="~/assets/img/aboutarea/@Model.BackImg" alt="Alternate Text" style="width:350px;height:350px" />
        <img src="~/assets/img/aboutarea/@Model.FrontImg" alt="Alternate Text" style="width:350px;height:350px" />
        <h5 class="mt-2">@Model.Header</h5>
        <p>@Model.ShortDesc</p>
        <p>@Model.LongDesc</p>
    </div>
    <a asp-action="Index" class="btn btn-primary mt-3">Go back</a>
</div>