@model AboutArea
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h3>About Area</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Header
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5>@Model.Header</h5>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@Model.Id">
                                <i class="mdi mdi-account-box-outline"></i>
                            </a>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="mdi mdi-table-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>