#product-detail{
    .content{
        margin-top: 100px;
        background-color:  white;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        .img{
            height: 600px;
            width: 500px;
        }
        .category{
            color: #767676;
        }
        .name{
            font-size: 32px;
            font-weight: 600;
            margin-top: 10px;
        }
        .price-wrapper{
            .price{
                font-size: 22px;
                font-weight: 600;
                color: #ff6f61;
            }
            
            margin-top: 10px;
        }
        .description{
            color: #525252;
            width: 70%;
            margin-top: 10px;
        }
        .sizes{
            margin-top: 50px;
            width: 70%;
            .active{
                border: 1px solid black!important;
            }
            .size{
                height: 42px;
                width: 42px;
                border: 1px solid rgba(0, 0, 0, 0.21);
                text-align: center;
                padding-top: 7px;
                margin-top: 5px;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    border: 1px solid black;
                }
            }
        }
        .product-buttons{
            margin-top: 50px;
            .count{
                border: 1px solid rgba(0, 0, 0, 0.21);
                width: 132px;
                height: 56px;
                input{
                    width: 34px;
                    border: none;
                    outline: none;
                    text-align: center;
                }
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                button{
                    border: none;
                    background-color: transparent;
                    i{
                        color: rgba(0, 0, 0, 0.21);
                        transition: 0.5s;
                    }
                    &:hover{
                        i{
                            color: black;
                        }
                    }
                }
            }
            .add-to-cart{
                button{
                    width: 220px;
                    height: 56px;
                    border: none;
                    color: white;
                    background-color: #1f1f1f6c;
                    i{
                        padding-left: 10px;
                    }
                }
                .active-btn{
                    background-color: #1f1f1f!important;
                }
            }
            .wishlist{
                button{
                    width: 143px;
                    height: 56px;
                    border: 1px solid rgba(0, 0, 0, 0.21);
                    background-color: transparent;
                    color: rgba(0, 0, 0, 0.21);
                    transition: 0.5s;
                    &:hover{
                        border: 1px solid black;
                        color: black;
                    }
                    i{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}