@model List<BlogArea>
    <section id="blog-area">
        <div class="container">
            <div class="blog-area-wrapper">
                <div class="row">
                    @foreach (var blog in Model)
                    {
                        <div class="col-3">
                            <div class="img">
                                <a href="https://www.instagram.com/">
                                    <img src="@blog.Image"
                                         alt="">
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="button">
                    <a href="https://www.instagram.com/">@@razzi</a>
                </div>
            </div>

        </div>
    </section>