
@{
    ViewData["Title"] = "Index";
}

<main style="padding-top: 150px;">
    <section id="checkout">
        <div class="container">
            <div class="checkout-wrapper">
                <div class="container">
                    <div class="header">
                        <h1>Checkout</h1>
                    </div>
                    <div class="person-info">
                        <div class="row">
                            <div class="col-6">
                                <div class="name">
                                    <span>First name *</span>
                                </div>
                                <input type="text" name="name">
                            </div>
                            <div class="col-6">
                                <div class="name">
                                    <span>Last name *</span>
                                </div>
                                <input type="text" name="surname">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>Country, City *</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>Address *</span>
                                </div>
                                <input type="text" placeholder="Street name, Apartment, House number">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>ZIP Code *</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>Phone *</span>
                                </div>
                                <input type="tel" name="" id="">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>Email address *</span>
                                </div>
                                <input type="email" name="email">
                            </div>
                            <div class="col-12">
                                <div class="name">
                                    <span>Order notes</span>
                                </div>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="order-btn">
                                <button type="submit">Place order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>